<div class="action-group">

  @if (showView) {
  <button
    class="action-btn view-btn"
    type="button"
    title="View"
    (click)="view.emit()">

    <i class="bi bi-eye-fill"></i>

  </button>
  }

  @if (showEdit) {
  <button
    class="action-btn edit-btn"
    type="button"
    title="Edit"
    (click)="edit.emit()">

    <i class="bi bi-pencil-square"></i>

  </button>
  }

  @if (showDelete) {
  <button
    class="action-btn delete-btn"
    type="button"
    title="Delete"
    (click)="delete.emit()">

    <i class="bi bi-trash-fill"></i>

  </button>
  }

</div>