.action-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.action-btn {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.25s ease;
    font-size: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
}

.action-btn i {

    transition: transform 0.2s ease;
}

/* HOVER EFFECT */

.action-btn:hover {

    transform: translateY(-2px);

    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

.action-btn:hover i {

    transform: scale(1.1);
}

/* VIEW */

.view-btn {

    background: #e0f2fe;

    color: #0284c7;
}

.view-btn:hover {

    background: #0284c7;

    color: white;
}

/* EDIT */

.edit-btn {

    background: #ede9fe;

    color: #7c3aed;
}

.edit-btn:hover {

    background: #7c3aed;

    color: white;
}

/* DELETE */

.delete-btn {

    background: #fee2e2;

    color: #dc2626;
}

.delete-btn:hover {

    background: #dc2626;

    color: white;
}